doctype html
html
  head
    title Plataforma de Gestão de Contratos
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    h1 Plataforma de Gestão de Contratos
    p Desenvolvida por Rui Lopes
    block content
